In [1]:
import pandas as pd
import numpy as np

In [7]:
# column headers for the dataset
# assign the variable names or column names to each data.
data_cols = ['user id','movie id','rating','timestamp']

item_cols = ['movie id','movie title','release date','none column','IMDb URL','unknown','Action','Adventure','Animation','Children','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance ','Sci-Fi','Thriller','War' ,'Western']

user_cols = ['user id','age','gender','occupation','zip code']

In [8]:
# load the data files using pandas read_csv() function.
# importing the data files onto dataframes

data = pd.read_csv('ml-100k/u.data', sep='\t',names=data_cols, encoding='latin-1')

item = pd.read_csv('ml-100k/u.item', sep='|',names=item_cols, encoding='latin-1')

users = pd.read_csv('ml-100k/u.user', sep='|',names=user_cols, encoding='latin-1')

In [4]:
data.head()

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [9]:
item.head()

,movie id,movie title,release date,none column,IMDb URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
users.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### First task: item-based neighborhood CF
Use the similarity between items (and not users) to make predictions.